.kostka{
    border: 3px solid blue;
    padding: 10px;
    border-radius: 5px;
}
.kostka2{
    border: 3px solid blue;
    padding: 10px;
    margin-left: 30px;
    border-radius: 5px;
}
.text{
    border: 1px solid red;
    font-size: 30px;
    border-radius: 10px;
    width: 120px;
}
.velikost{
    font-size: 120%;
}
.images  {
    width:100%;
    white-space: nowrap;
 }